<div class="banner">
  <div class="introduction">
    <h1 class="introduction-title">Experience a new era of AI-enhanced learning</h1>
    <span class="introduction-content">Quizlet is more than flashcards: it’s the #1 global learning platform. Join our
      community of 300 million learners using Quizlet’s practice tests, Expert Solutions and AI-powered tools to improve
      their grades and reach their goals.</span>
    <button mat-raised-button class="home-btn" color="primary">Sign up now</button>
  </div>
</div>
<div class="study-tools">
  <h1 class="home-title">Ace your classes with our new suite of study tools</h1>
  <img src="/assets/images/quizlet-study-tools.png" alt="Quizlet study tools">
  <button mat-raised-button class="home-btn" color="primary">Get started</button>
</div>
<div class="promotions">
  <div class="left">
    <h1 class="home-title">Magically transform your notes with AI</h1>
    <p>Magic Notes saves you time by turning your notes into flashcards, practice tests, outlines and more.</p>
    <button mat-raised-button class="home-btn" color="primary">Try it out</button>
  </div>
  <div class="right">
    <img src="/assets/images/magically.gif" alt="Magically transform your notes with AI">
  </div>
</div>
<div class="promotions">
  <div class="left">
    <img src="https://i.pinimg.com/originals/84/cf/45/84cf459061b9229caef85e2d26aaa67d.gif"
      alt="Magically transform your notes with AI">
  </div>
  <div class="right">
    <h1 class="home-title">Meet your new AI tutor</h1>
    <p>Quiz me. Teach me. Apply my knowledge. Try these prompts with Q-Chat.</p>
    <button mat-raised-button class="home-btn" color="primary">Start a chat</button>
  </div>
</div>
<div class="promotions">
  <div class="left">
    <h1 class="home-title">Get personalized homework help</h1>
    <p>Quizlet’s Expert Solutions combine millions of verified explanations with AI-powered tutoring so you can tackle
      homework assignments.
    </p>
    <button mat-raised-button class="home-btn" color="primary">Find your textbook</button>
  </div>
  <div class="right">
    <img src="https://i.pinimg.com/originals/cd/47/55/cd47550d31e31dbe940396094f5c2a51.gif"
      alt="Get personalized homework help">
  </div>
</div>
<div class="promotions">
  <div class="left">
    <img src="https://i.pinimg.com/originals/a4/51/39/a451393c169a91586312551109361064.gif" alt="Be ready for test day">
  </div>
  <div class="right">
    <h1 class="home-title">Be ready for test day</h1>
    <p>Turn your flashcards into practice tests. Enhanced by AI, Learn and Test mode help you memorize everything you
      need to know.
    </p>
    <button mat-raised-button class="home-btn" color="primary">Get started</button>
  </div>
</div>
<div class="study-tools">
  <h1 class="home-title">Coming soon to Quizlet</h1>
  <img src="/assets/images/quizlet-coming-soon.png" alt="Coming soon to Quizlet">
</div>